<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 ">
            <div ng-controller="HomeUserDetailsController" class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span> {{user.real_name}}
                </div>
                <div class="panel-body">
                    <p>@{{user.username}}</p>
                </div>
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-pencil"></span> Create Tweet
                </div>
                <div class="panel-body">
                    <textarea class="form-control" ng-model="tweet" rows="3" ng-maxlength="3">

                    </textarea>
                    <p ng-show="tweet.$error.maxlength" class="help-block">Username is too long.</p>
                    <button class="btn btn-default">submit</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div ng-controller="HomeFeedController" class="panel panel-default">
                <div class="panel-heading">
                     {{title}}
                </div>
            </div>
        </div>
    </div>
</div>
