<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 ">
            <div ng-controller="SelectedUserDetailsController" class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span> {{selectedUser.real_name}}
                </div>
                <div class="panel-body">
                    <p>@{{selectedUser.username}}</p>
                    <button class="btn btn-primary" ng-show="!isFollowing" ng-click="follow()">Follow</button>
                    <button class="btn btn-danger" ng-show="isFollowing" ng-click="unfollow()">Stop following</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div ng-controller="SelectedUserTweetsController" class="panel panel-default">
                <div class="panel-heading">
                    Tweets
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="tweet in tweets">
                        <a ng-href="#/user/{{tweet.username}}"><h4>{{tweet.username}}</h4></a>
                        <p>{{tweet.tweet_contents}}</p>
                        <button class="btn btn-primary" ng-show="canDelete" ng-click="deleteTweet(tweet)">Delete</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>