<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 ">
            <div ng-controller="SelectedUserDetailsController" class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span> {{selectedUser.real_name}}
                </div>
                <div class="panel-body">
                    <p>@{{selectedUser.username}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div ng-controller="SelectedUserTweetsController" class="panel panel-default">
                <div class="panel-heading">
                    Tweets
                </div>
            </div>
        </div>
    </div>
</div>